<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spark.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".SparkApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SparkAndroid">
        <activity
            android:name=".ui.feedreport.FeedReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.alarmcenter.AlarmCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storage.photo.StoragePhotoMainPickActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mypage.MyPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.share.InstaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.waitingroom.WaitingRoomActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.certify.CertifyActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.timer.TimerStartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.habit.HabitGoalManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.joincode.JoinCodeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.makeroom.MakeRoomActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.storage.photo.StoragePhotoCollectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.habit.HabitActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_redirect_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".SparkMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
